.input{
  border: 2px solid #676767;
  padding: 5px;
  border-width: 2px;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
  width: calc(100% - 30px);
}

.buttons{
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.container{
  margin: 20px;
  user-select: none;
  border-radius: 5px;
}