.heading{
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  user-select: none;
  font-variant: small-caps;
}